# Python
__pycache__/
*.pyc
venv/
env/
.venv

# Базы данных
*.db
*.sqlite3
*.pkl

# Секреты
.env
*.key
*.pem
*.crt
certs/

# IDE
.vscode/
.idea/

# ОС
Thumbs.db
desktop.ini
.DS_Store

# Логи и временные файлы
*.log
*.tmp
logs/
temp/

# Данные (не в Git)
data/excel_imports/
data/xml_exports/

# Документы (экспортированные)
*.pdf
*.png
*.jpg
docs/reports/*.pdf
